<div class="page-title">

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title title-center">
        
        <div class="separator">
            <h1>Chào mừng bạn đến với trang quản trị</h1>
          <div class="clearfix"></div>
          <br />

          <div>
            <h3><i class="fa fa-paw"></i> SHOP ONLINE ADMIN!</h3>
            <h5>©2017 Công ty Cổ Phần Đầu Tư Laptopgaming.com</h5>
          </div>
          <div class="clearfix"></div>
          <hr />
          <div class="x_content  title-center">
              Được thành lập vào năm 2004, bước sơ khai của LaptopGaming là cửa hàng kinh doanh Laptop tại Quận 1. Với tầm nhìn chiến lược kinh doanh và những nổ lực không ngừng, Laptopgaming đã trở thành một trong những thương hiệu bán lẻ số 1 tại thị trường Việt Nam. Thế mạnh làm nên Laptopgaming không chỉ dừng lại ở sản phẩm chính hãng chất lượng cao, sự chuyên môn hóa trong từng bộ phận mà còn là tính trách nhiệm cao, sự quản lý chuyên nghiệp cùng đội ngũ kỹ thuật lành nghề, phục vụ tận tâm, uy tín, giá thành hợp lý đáp ứng tốt yêu cầu và nhu cầu khác nhau của khách hàng.
              ự tin tưởng và ủng hộ của khách hàng trong thời gian vừa qua là nguồn động viên to lớn trên bước đường phát triển của Laptopgaming.
          </div>
          <br>
          <div class="clearfix"></div>
          <hr />

          <div>
              <h5>
                  <p>Văn phòng điều hành:  391A Nam Kỳ Khởi Nghĩa, P7, Quận 3, Tp.HCM</p>
                  <p>Email: investor@Laptopgaming.vn</p>
                  <p>Điện thoại: 028 730 23456</p>
                  <p>GPDKKD: 0303217354 do sở KH & ĐT TP.HCM cấp ngày 02/01/2007</p>
              </h5>
            </div>
        </div>
        <div class="clearfix"></div>
      </div>
     
    </div>
  </div>
</div>